
<link rel="stylesheet" href="../../assets/css/list_Kh.css">
<section>
  <!--for demo wrap-->
  <h1>Customer List</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>STT</th>
        <th>NAME</th>
        <th>CMND/CCCD</th>
        <th>PHONE</th>
        <th>EMAIL</th>
        <th>ADDRESS</th>
      </tr>
      </thead>
    </table>
  </div>

  </tbody>
  </table>

</section>
<!--<div class="text-center p-2" style="color: #277BC0">-->
<!--  <a th:href="@{'/product'(page=${productList.number - 1}, nameSearch=${nameSearch}, categorySearch=${categorySearchValue})}"-->
<!--     th:if="${productList.hasPrevious()}">Previous</a>-->
<!--  <span th:text="${productList.number + 1}"></span>/<span th:text="${productList.totalPages}"></span>-->
<!--  <a th:href="@{'/product'(page=${productList.number + 1}, nameSearch=${nameSearch}, categorySearch=${categorySearchValue})}"-->
<!--     th:if="${productList.hasNext()}">Next</a>-->
<!--</div>-->


<div class="made-with-love">
  Made with
  <i>♥</i> by
  <a target="_blank">List Customer</a>
</div>
</div>
</div>
