
<link rel="stylesheet" href="../../assets/css/update.css">
<section class="get-in-touch">
  <h1 class="title">Update Customer</h1>
  <form class="contact-form row">
    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" required>
      <label class="label" for="name">NAME</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="cmnd" class="input-text js-input" type="text" required>
      <label class="label" for="cmnd">CMND/CCCD</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="phone" class="input-text js-input" type="number" required>
      <label class="label" for="phone">PHONE</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="email" class="input-text js-input" type="email" required>
      <label class="label" for="email">EMAIL</label>
    </div>
    <div class="form-field col-lg-12">
      <input id="address" class="input-text js-input" type="text" required>
      <label class="label" for="address">ADDRESS</label>
    </div>
    <div class="form-field col-lg-12" style="text-align: center">
      <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form>
</section>
