<div style="background-color: #31d2f2; height: 50px;">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/product">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/product/create">Create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">###</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">###</a>
    </li>
  </ul>
</div>
<div style="height: 420px">
  <router-outlet></router-outlet>
</div>
<div style="background-color: #31d2f2; height: 150px">

</div>
