<form method="post">
  <h3>Create Contract</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" name="id" class="form-control" placeholder="Your id *" value="" />
      </div>
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Customer Name *" value="" />
      </div>
      <div class="form-group">
        <input type="text" name="cmnd" class="form-control" placeholder="Your CMND/CCCD *" value="" />
      </div>
      <div class="form-group">
        <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
      </div>
      <div class="form-group">
        <input type="text" name="nameRoom" class="form-control" placeholder="Name Room *" value="" />
      </div>
      <div class="form-group">
        <input type="text" name="kindOfRoom" class="form-control" placeholder="Kind Of Room *" value="" />
      </div>
      <div class="form-group">
        <input type="number" name="amount" class="form-control" placeholder="Amount *" value="" />
      </div>
      <div class="form-group">
        <input type="date" name="dateCheckin" class="form-control" placeholder="Check-in date *" value="" />
      </div>
      <div class="form-group">
        <input type="date" name="dateCheckout" class="form-control" placeholder="Check-out date *" value="" />
      </div>
      <div class="form-group">
        <input type="number" name="rates" class="form-control" placeholder="Rates Room *" value="" />
      </div>
      <div class="form-group">
        <input type="submit" name="btnSubmit" class="btnContact" value="Create" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <textarea name="txtNode" class="form-control" placeholder="Your Node" style="width: 100%; height: 150px;"></textarea>
      </div>
    </div>
  </div>
</form>
