<section class="get-in-touch">
  <h1 class="title">Update Service</h1>
  <form class="contact-form row">
    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" required>
      <label class="label" for="name">Room Name</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="kind" class="input-text js-input" type="text" required>
      <label class="label" for="kind">Kind of room</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="rates" class="input-text js-input" type="number" required>
      <label class="label" for="rates">Room Rates</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="view" class="input-text js-input" type="text" required>
      <label class="label" for="view">Room View</label>
    </div>
    <div class="form-field col-lg-12">
      <input id="amount" class="input-text js-input" type="number" required>
      <label class="label" for="amount">Amount</label>
    </div>
    <div class="form-field col-lg-12" style="text-align: center">
      <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form>
</section>
