
<link rel="stylesheet" href="../../assets/css/create.css">
<form action="" >
  <div class="container">
    <h1>Form Thêm Mới Dịch Vụ</h1>
    <p>Xin hãy nhập biểu mẫu bên dưới để thêm mới.</p>
    <hr>

    <label for=><b>Room Name</b></label>
    <input type="text" placeholder="Nhập name" name="name" required>

    <label for=><b>Kind of Room</b></label>
    <input type="text" placeholder="Nhập kind of room" name="kind" required>

    <label for=><b>Room Rates</b></label>
    <input type="number" placeholder="Nhập Rates" name="rates" required>

    <label for=><b>Room View</b></label>
    <input type="text" placeholder="Nhập view" name="view" required>
    <label for=><b>Amout</b></label>
    <input type="number" placeholder="Nhập amout" name="amout" required>
    <!--            <label>-->
    <!--                <input type="" checked="checked" name="remember" style="margin-bottom:15px"> Nhớ Đăng Nhập-->
    <!--            </label>-->

    <div class="clearfix">
      <button type="submit" class="signupbtn">Create</button>
    </div>
  </div>
</form>
