<div class="container mt-4">
  <h3>Create</h3>
  <form [formGroup]="product" (ngSubmit)="save()">
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Id</span>
      <input type="number" class="form-control" aria-label="Sizing example input" formControlName="id">
    </div>
    <p *ngIf="!product.get('id')?.valid && product.get('id').touched" class="text-danger">Nhap id</p>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Name</span>
      <input type="text" class="form-control" aria-label="Sizing example input" formControlName="name">
    </div>
    <p *ngIf="!product.get('name')?.valid && product.get('name').touched" class="text-danger">Nhap name</p>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Price</span>
      <input type="number" class="form-control" aria-label="Sizing example input" formControlName="price">
    </div>
    <p *ngIf="!product.get('price')?.valid && product.get('price').touched" class="text-danger">Name price</p>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Description</span>
      <input type="text" class="form-control" aria-label="Sizing example input" formControlName="description">
    </div>
    <p *ngIf="!product.get('description')?.valid && product.get('description').touched" class="text-danger">Description
      sai</p>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Category</span>
      <select formControlName="category">
        <option *ngFor="let item of category" value="{{item.nameCategory}}">{{item.nameCategory}}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!product.valid">Create</button>
  </form>
</div>
